
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$alter-api-collab-primary: mat.define-palette(mat.$indigo-palette);
$alter-api-collab-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$alter-api-collab-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$alter-api-collab-theme: mat.define-light-theme((
  color: (
    primary: $alter-api-collab-primary,
    accent: $alter-api-collab-accent,
    warn: $alter-api-collab-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($alter-api-collab-theme);


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './rmstyles';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; scroll-behavior: smooth;}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.header{
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.text-pm{
  color: #ff5722 !important;
}

.bg-sc{
  background-color: #3ff4d6;
}
.text-sc{
  color: #097bee;
}

.btn-pm{
  white-space: nowrap;
  @apply bg-[#ff5722] px-3 py-2 rounded text-white
          disabled:grayscale disabled:opacity-80 disabled:cursor-not-allowed
          hover:bg-[#f63e03];
}

.btn-wt{
  background-color: #f0f0f0;
  white-space: nowrap;
  @apply  px-3 py-2 rounded font-medium
          disabled:grayscale disabled:opacity-80 disabled:cursor-not-allowed
          hover:bg-[#cecece];
}
.font-unset{
  font:unset !important;
}

.input-text{
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 10px;
  label{
    @apply  inline-block mb-2 text-gray-900 font-medium;
  }
  input,textarea{
    resize: none;
    margin: 0 !important;
    @apply
    block
    w-full
    px-3
    py-1.5
    text-base
    font-normal
    text-gray-700
    bg-white bg-clip-padding
    border border-solid border-gray-300
    rounded
    transition
    ease-in-out
    focus:text-gray-700 focus:bg-white focus:border-[#ff5722] focus:outline-none;
  }
  input[name=invites]{
    width: 100% !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  span{
    position: absolute;
    font-size: 12px;
    text-transform: capitalize;
    bottom: 0;
    @apply text-red-700;
  }
  .chips-list{
    height: 100px !important;
    overflow: auto;
    @apply block
    px-3
    py-1.5
    text-base
    font-normal
    text-gray-700
    bg-white bg-clip-padding
    border border-solid border-gray-300
    rounded
    transition
    ease-in-out
    focus:text-gray-700 focus:bg-white focus:border-[#ff5722] focus:outline-none; 
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0 !important;
  }
}

.avatar{
  font-weight: 500;
  width: 24px;
  height: 24px;
  display: grid;
  place-items: center;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 100%;
  white-space: nowrap;
}


.btn-pm-sm{
  font-size: 12px;
  padding: 5px 10px;
  color: white;
  white-space: nowrap;
  @apply bg-[#ff5722] rounded font-medium
          disabled:grayscale disabled:opacity-80 disabled:cursor-not-allowed
          hover:bg-[#f63e03];
}

.btn-wt-sm{
  z-index: 10;
  font-size: 12px;
  padding: 5px 10px;
  white-space: nowrap;
  @apply  rounded font-medium
          disabled:grayscale disabled:opacity-80 disabled:cursor-not-allowed
          hover:bg-[#eae9e9] focus:bg-[#eae9e9] focus-within:bg-[#eae9e9];
}

.btn-sc-sm{
  font-size: 12px;
  padding: 5px 10px;
  color: white;
  white-space: nowrap;
  @apply bg-[#097bee] rounded font-medium
          disabled:grayscale disabled:opacity-80 disabled:cursor-not-allowed
          hover:bg-[#075aac];
}

.tree-btn{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  width: 90%;
  cursor: pointer;
}

.h-30{
  height: 30px;
}
.avatar-ws{
  width: 35px;
  height: 35px;
  font-size: 12px;
  border-radius: 2px;
  background-color: #09eeb12e;
  color: black;
}

.tooltip{
  padding: 3px 0;
  background-color: #333;
  font-family: inherit;
  letter-spacing: 0.5px;
}

.workspaces{
  .ws-desc{
    .ws-details{
      ul li {
        border-radius: 5px;
        cursor: pointer;
        padding: 10px;
        h4{
          margin: 0;
          font-weight: 500;
        }
        p{
          margin: 0;
        }
      }
      ul li:hover{
        background-color: #f0f0f0;
      }
    }
    .ws-action{
      padding: 10px;
    }
  }
}

.wk-section{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  .nav-tree{
    grid-column: 1 /span 2;
    @apply border-gray-200 border-r ;
    .nav-head{
      .wk-name{
        align-items: center;
        padding: 8px 10px;
        @apply border-gray-200 border-b ;
        p{
          cursor: pointer;
          font-size: small;
          font-weight: 500;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: 0;
          padding: 5px 10px;
        }
        .search-action{
          button{
            align-self:flex-end;
            margin-left: auto;
            mat-icon{
              font-size: 18px;
            }
          }
        }
      }
      .coll-list{
        margin-top: 10px;
      }
    }
  }
  .nav-outlet{
    grid-column: 3 /span 9;
  }
}