<main class="w-5/12 m-auto py-5">
      <p class="text-xs text-gray-500 font-normal" >Home / Workspaces</p>
      <div class="mt-6 mb-3">
        <h1 class="font-bold mb-1" >Your Workspaces</h1>
        <p class="text-gray-700" >A directory of you workspaces</p>
      </div>

      <div class="flex flex-row justify-between sticky py-1 top-[49px] bg-white z-50">
        <div >
          <button class="btn-wt-sm border font-medium bg-gray-100" [routerLink]="['workspace','create']" > + New </button>
        </div>
        <div>
          <button class="btn-wt-sm font-normal flex flex-row align-middle border capitalize" [matMenuTriggerFor]="workspace">{{wkSelected}} Workspaces <mat-icon>keyboard_arrow_down</mat-icon> </button>
          <mat-menu #workspace="matMenu">
            <ul>
              <ng-container *ngFor="let item of wsMenuList; index as i" >
                <li mat-menu-item class="flex flex-row justify-between align-middle capitalize" (click)="selectMenuItem(item)" >
                  <div class="w-8">
                    <mat-icon class="m-0 text-sm" *ngIf="item===wkSelected" >check</mat-icon>
                  </div>
                  <div class="w-full">
                    {{ item }} <span *ngIf="i===0">Workspace</span>
                  </div>
                </li>
                <hr *ngIf="i===0" >
              </ng-container>
            </ul>
          </mat-menu>
        </div>
      </div>

  <div class="workspaces mt-5">
    <div>
      <mat-accordion displayMode="flat">
        <ng-container *ngIf="!load;else loading" >
          <ng-container *ngIf="workList.length;else nodata" >
            <mat-expansion-panel *ngFor="let wk of workList">
              <mat-expansion-panel-header>
                <div class="flex flex-row w-full items-center"  >
                  <div class="avatar avatar-ws">
                    {{wk.name[0]}}{{wk.name[1]}}
                  </div>
                  <div class="px-2 hover:text-[#ff5722]" [routerLink]="['workspace',wk.workId,'request','']">
                    <h4 class="font-medium text-base m-0" >{{wk.name}}</h4>
                    <p class="text-xs text-gray-500 m-0" >Created by <span class="font-medium" >{{wk.owner.email}}</span> on <span class="font-medium">{{wk.createdOn | date}}</span> </p>
                  </div>
                </div>
              </mat-expansion-panel-header>
              <div class="ws-desc text-[13px]">
                <div class="flex flex-row justify-between">
                  <div>
                    <p>
                      {{wk.summary}}
                    </p>
                    <div class="ws-details">
                      <ul class="grid grid-cols-3 gap-4">
                        <li class="flex flex-col justify-between" >
                          <h4>{{wk.team.length}}</h4>
                          <p>Members</p>
                        </li>
                        <li class="flex flex-col justify-between" >
                          <h4>{{wk.collectionCount}}</h4>
                          <p>Collections</p>
                        </li>
                        <li class="flex flex-col justify-between" >
                          <h4>{{wk.requestCount}}</h4>
                          <p>APIs</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="ws-action self-end">
                    <ul>
                      <li><button class="btn-wt-sm border" [routerLink]="['documentation',wk.workId]" >See Documentation</button></li>
                    </ul>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </ng-container>  
            <ng-template #nodata>
              <div class="no-data">
                <h2>There are no Workspaces</h2>
              </div>
            </ng-template>  
        </ng-container>
        <ng-template #loading >
          <div class="flex flex-row justify-center">
            <loading-spinner [dim]="50"></loading-spinner>
          </div>
        </ng-template>
      </mat-accordion>
    </div>
  </div>
</main>
